/* General Reset */
body {
  font-family: Arial, sans-serif;
  background: #F1F9FF;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D3ECFF;
  padding: 10px 100px;
}


/* Logo and Title */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.brand-name {
  font-size: 32px;
  color: #284B8C;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #1a2b4c;
  font-size: 16px;
  font-weight: 600;
}

.nav-links a.active {
  border-bottom: 2px solid #3dc9a7;
  padding-bottom: 3px;
}
 
  .status-tabs {
    display: flex;
    justify-content: left;
    margin: 30px 0;
    margin-left: 450px;
    gap: 20px;
  }
  
  .tab {
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 200px;
    height: 70px;
  }
  
  .active-tab {
    background: #ffc107;
  }
  
  .completed-tab {
    background: #ff6b6b;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .tour-table {
    background: #f4faff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    width: 50%;
    margin: 0 auto;
}
  .tour-table h2 {
    margin-bottom: 20px;
    color: #284b8c;
  }
  
  .tour-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  th, td {
    padding: 12px 16px;
    text-align: left;
    font-size: 15px;
    color: #284b8c;
  }
  
  th {
    font-weight: bold;
  }
  
  .cancel-btn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  